/* Customize the label (the container) */
.checkmark {
    $checkmarkHeight : 25px;
    $checkmarkBackground : #eee;
    $checkmarkBackgroundHover : #ccc;
    $checkmarkBackgroundSelected : #2196F3;
    $checkmarkPointerHeight: 16px;
    $checkmarkPointerWidth: 8px;
    $checkmarkPointerLeft: 8px;
    $checkmarkPointerTop : 3px;

    display             : block;
    position            : relative;
    padding-left        : 35px;
    margin-bottom       : 12px;
    cursor              : pointer;
    //font-size           : $checkmarkFontSize;
    user-select         : none;
    height              : $checkmarkHeight;

    /* Hide the browser's default checkbox */
    input {
        position : absolute;
        opacity  : 0;
        cursor   : pointer;
        height   : 0;
        width    : 0;
    }

    /* Create a custom checkbox */
    .placeholder {
        position         : absolute;
        top              : 0;
        left             : 0;
        height           : $checkmarkHeight;
        width            : $checkmarkHeight;
        background-color : $checkmarkBackground;
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .placeholder {
        background-color : $checkmarkBackgroundHover;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked ~ .placeholder {
        background-color : $checkmarkBackgroundSelected;
    }

    /* Create the placeholder/indicator (hidden when not checked) */
    .placeholder:after {
        content  : "";
        position : absolute;
        display  : none;
    }

    /* Show the placeholder when checked */
    input:checked ~ .placeholder:after {
        display : block;
    }

    /* Style the placeholder/indicator */
    .placeholder:after {
        left              : $checkmarkPointerLeft;
        top               : $checkmarkPointerTop;
        width             : $checkmarkPointerWidth;
        height            : $checkmarkPointerHeight;
        border            : solid white;
        border-width      : 0 3px 3px 0;
        transform         : rotate(45deg);
    }
}
