.pagination {
    text-align : left;
    margin     : 1rem 0;

    input {
        width          : 40px;
        display        : inline-block;
        padding-bottom : 0;
        padding-top    : 0;
        height         : auto;
        text-align     : center;
    }

    li {
        display : inline-block;
    }

    .pagination-previou,
    .pagination-next {
        display : inline-block;
    }

    .pagination-first {
        a {
            margin-left   : .5rem;
            border-bottom : 1px solid #ccc;
        }


    }

    .pagination-last {
        a {
            margin-right  : .5rem;
            border-bottom : 1px solid #ccc;
        }
    }
}
